*.py[co]

# Ignore vim temporary and swap files
*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Packages
dist
build
eggs
parts
bin
var
sdist
develop-eggs


# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage.xml
coverage_html_report
htmlcov

#Translations
*.mo

.*
!/.gitignore
!/.gitattributes
!/.pre-commit-config.yaml
